$font-path: '~@/assets/fonts/icomoon/';

@font-face {
	font-family: 'icomoon';
	src: url($font-path+'icomoon.eot?hwd0md');
	src: url($font-path+'icomoon.eot?hwd0md#iefix') format('embedded-opentype'),
		url($font-path+'icomoon.ttf?hwd0md') format('truetype'),
		url($font-path+'icomoon.woff?hwd0md') format('woff'),
		url($font-path+'icomoon.svg?hwd0md#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
	content: '\e900';
}
.icon-css:before {
	content: '\e901';
}
.icon-html:before {
	content: '\e902';
}
.icon-php:before {
	content: '\e903';
}
.icon-java:before {
	content: '\e904';
}
.icon-javascript:before {
	content: '\e905';
}
.icon-nuxt:before {
	content: '\e906';
}
.icon-vue:before {
	content: '\e907';
}
.icon-phone:before {
	content: '\e909';
}
.icon-linkedin:before {
	content: '\e90a';
}
.icon-mail:before {
	content: '\e90b';
}
.icon-github:before {
	content: '\e90c';
}
